.content{
    /* position: absolute; */
    padding-top: 16px;
    width: 100%;
    background-color: #ffffff;
}

.content .content-header{
    padding: 0px 16px;
    display: flex;
    align-items: center;
    height: 40px;
}

.content .content-header .button{
    right: 16px;
    position: absolute;
    display: flex;
}

.content .content-filter{
    margin-top: 10px;
    display: flex;
    height: 40px;
    align-items: center;
}

.content .content-filter .department{
    margin: 0px 16px;
}

.content .content-body{
    padding-top: 16px;
}

.content-body .container{
    padding: 0px 16px;
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.reload{
    margin-right: 16px;
    align-self: center;
    margin-left: auto;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    display: flex;
}
.reload:hover{
    border: 1px solid #01b075;
}

.reload>.reload-icon{
    background: url('/content/icon/refresh.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: 10px;
}

.content-footer>.paging{
    padding: 0px 16px;
    height: 56px;
    display: flex;
    flex-direction: row;
}
.paging>.pagintation-text{
    align-self: center;
}
.paging>.pagination{
    align-self: center;
}
.paging>.pagination-total{
    align-self: center;
}
    