.dropdown{
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    height: 40px;
    border-radius: 4px;
    padding: 0px 12px 0px 16px;
    cursor: pointer;
}

.dropdown:focus{
    border-color: #019160;
}

.dropdown:hover{
    border-color: #019160;
}


.dropdown .btn-dropdown{
    margin-left: auto;
}

.dropdown .dropdown-text{
    margin-right: 12px;
}

.dropdown.non-border{
    border: none;
    font-family: MISAGoogleSans-Bold;
}

.dropdown.dropdown-with-width{
    width: 200px;
}