.misa-dropdown{
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    outline: none;
    width: 180px;
    font-family: 'MISAGoogleSans';
    margin-left: 16px;
}

.misa-dropdown:focus{
    border: 1px solid #01b075;
}