.tbl{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

.tbl th, td{
    border-bottom: 1px solid #E5E5E5;
    height: 48px;
    padding: 0 10px;
    text-align: left;
}

.tbl th{
    top: 0;
    position: sticky;
    background-color: #ffffff;
}

.tbl th>i{
    padding: 0 8px;
}

.tbl-striped tbody tr:nth-child(odd){
    background-color: #f4f4f4;
}

.tbl tr{
    cursor: pointer;
}